# Data manipulation and analysis
numpy
pandas
scipy
pyarrow
fastparquet

# Machine Learning
scikit-learn
torch
torchvision
xgboost
sentence-transformers

# Deep Learning extras
transformers
hnswlib


# Data Visualization
matplotlib
seaborn
plotly

# Jupyter environment
jupyter
jupyterlab
ipykernel

# Utilities
tqdm
pytest
black
pylint

# Full stack dependencies
fastapi
uvicorn

# Environment
python-dotenv
